@inject ILogger<AssetSelector> _logger
@inject IWebApiExecuter _api
@inject IConfiguration _configuration

@if (AssetList is not null)
{
    @if (AssetList.Count == 0)
    {
        <div class="text-warning">wtf</div>
    }
    else
    {
        <div>
            <InputSelect class="btn btn-secondary dropdown-toggle" @bind-Value="SelectedAssetTicker" @bind-Value:after="HandleInputSelectSelectionChange">
                @foreach (var option in AssetList)
                {
                    <option value="@option.Ticker">@option.Name</option>
                }
            </InputSelect>
        </div>
    }
    @if (SelectedAssetTicker is not null)
    {
        <div>you chose this: @SelectedAssetTicker</div>
    }

}
else
{
    <div class="text-warning">There are no available assets to select from. (check why the values became unavailable after switch from server to webasembly.)</div>
    <button type="button" @onclick="HandleButtonClick">Refresh</button>
}



@code {
    [CascadingParameter(Name = "AssetList")]
    public List<AssetGetDtoList> AssetList { get; set; } 

    [Parameter]
    public string SelectedAssetTicker { get; set; }

    [Parameter]
    public EventCallback<string> ValueChanged { get; set; }

    private async Task HandleInputSelectSelectionChange()
    {
        _logger.LogInformation("Invoking a callback");
        await ValueChanged.InvokeAsync(SelectedAssetTicker);
    }
    private void HandleButtonClick(MouseEventArgs e)
    {
        _logger.LogInformation("Items: {var}", AssetList.Count);
    }
}
