@page "/anotherpage"

@inject HttpClient httpClient
@inject IWebApiExecuter _api

<h3>AnotherPage</h3>

@if (MarketList.Count > 0){
    <ul>
        @foreach(var item in MarketList)
        {
            <li>
                @item.Date = @item.Volume = @item.VolumeDeviation = @item.Value
            </li>
        }
    </ul>
}

@code {
    public List<MarketDto> MarketList { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        _api.BaseUrl = "https://localhost:7008";
        string uri = "/api/Assets/market/TDIV.AS";
        var x = await _api.InvokeGetAsync<AssetWithMarketGetDto>(uri);
        foreach (var item in x.MarketHistory)
        {
            MarketList.Add(new MarketDto()
            {
                Date = item.Date,
                Value = item.Value,
                Volume = item.Volume,
                VolumeDeviation = item.VolumeComparedToAverage
            });
        }
        Console.WriteLine("IEEEP");
    }
}
